@charset "utf-8";
/* CSS Document */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#f0f0f0;
    background-image:linear-gradient(top, #f0f0f0 0%, #ffffff 51%);
    background-image:-webkit-linear-gradient(top, #151515 0%, #202020 51%);
    background-image:-ms-linear-gradient(top, #f0f0f0 0%, #ffffff 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #ffffff),
        color-stop(0.51, #f0f0f0)
    );
	
    background-attachment:fixed;
  font-family: BebasNeue !important;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
	overflow:hidden;
    text-transform:uppercase;
    width:100vw;
}


#header{

margin: 0 auto;
padding: 15px 15px 15px 15px;
width: 100%;

font-style: normal;
font-weight: 400;
	
}

#signupform{

margin: 0 auto;
width:400px;
padding: 15px 15px 15px 15px;
	
}

sizealign1 {

	
	
}

@font-face{

font-family: BebasNeue;
src: url(fonts/BebasNeue.otf);	

}

container{
	margin:0px;
	padding:0px;
	
}

#logo{



}

input
{
color: #000000;
background: #fee3ad;
border: 1px solid #ffffff;
}


form{
	
	 padding: 20px 0;
  position: relative;
  z-index: 2;
  
}

form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px 15px;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}

email{
width:100px;
display:block;
float:left;	
}

password{
width:100px;
display:block;
float:right;
clear:both;	
	
}

#aform{

  display:block;
  float: left;

	
}

form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
form button:hover {
	background-color: #f5f7f9;
	text-align: center;
}

.signupbutton{
color:white;
margin: 0 auto 10px auto;

padding: 10px 15px;
            background: rgb(202, 60, 60); /* this is a maroon */
        }
